[Unit]
Description=ChatRoom

[Service]
ExecStart=/bin/bash -c 'tmux new-session -d -s chatroom; tmux send-keys -t chatroom "cd /home/mrdan/Files/online_chatroom" Enter; tmux send-keys -t chatroom "source ./env/bin/activate" Enter; tmux send-keys -t chatroom "python3.11 -O main.py" Enter; sleep infinity'
Restart=always
User=mrdan
Group=mrdan

[Install]
WantedBy=multi-user.target
