aiofiles==24.1.0
aiosqlite==0.20.0
async-timeout==4.0.3
blinker==1.8.2
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
colorlog==6.8.2
Flask==3.0.3
h11==0.14.0
h2==4.1.0
hiredis==2.3.2
hpack==4.0.0
Hypercorn==0.17.3
hyperframe==6.0.1
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
priority==2.0.0
pycryptodome==3.20.0
Quart==0.19.6
redis==5.0.7
requests==2.32.3
setuptools==70.2.0
types-requests==2.32.0.20240622
typing_extensions==4.12.2
ua-parser==0.18.0
urllib3==2.2.2
user-agents==2.2.0
Werkzeug==3.0.3
wsproto==1.2.0
